services:
  backend:
    # please login to ghcr.io
    image: ghcr.io/tough-dev-school/dev-backend
    command: ["wait-for-it", "postgres:5432", "--", "/bin/sh", "-c", "python ./manage.py migrate && ./manage.py create_dev_admin_user && uwsgi --master --http :8000 --module core.wsgi --workers 2"]
    environment:
      - DEBUG=Off
      - AXES_ENABLED=Off
      - NO_CACHE=On
      - DISABLE_THROTTLING=On
      - CELERY_ALWAYS_EAGER=On
      - DATABASE_URL=postgres://postgres:secret@postgres/postgres
      - REDISCLOUD_URL=redis://redis
      - EMAIL_BACKEND=apps.mailing.backends.ConsoleEmailBackend
      - EMAIL_FROM=dev@localhost
      - EMAIL_ENABLED=On
      - FRONTEND_URL=http://localhost:3000/
      - DEFAULT_FILE_STORAGE=core.storages.ProdReadOnlyStorage
      - AWS_S3_CUSTOM_DOMAIN=cdn.tough-dev.school
      - AWS_ACCESS_KEY_ID=root
      - AWS_SECRET_ACCESS_KEY=ibcxJ8Du
      - AWS_STORAGE_BUCKET_NAME=dev
      - NOTION_CACHE_ONLY=On

    ports:
      - 8000:8000
    links:
      - postgres
      - redis

  postgres:
    ports:
      - 5432:5432
    image: ghcr.io/tough-dev-school/dev-db
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:6-alpine

volumes:
  db-data:
