@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --module: 56px;
}

@media (max-width: 768px) {
  :root {
    --module: 48px;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-offwhite font-body text-black dark:bg-dark-black dark:text-white;
  }
}

@layer components {
  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .prose {
    @apply prose-p:my-[0.5em];
    @apply prose-li:my-[0.25em];
    @apply prose-ul:my-[0.5em];
    @apply prose-h2:mt-[1.5em];
    @apply text-black dark:text-white;
    --tw-prose-bullets: currentColor;
    max-width: 100%;
  }

  .label {
    @apply mb-8 w-full text-gray;
  }

  .link,
  .notion-link,
  .group-link {
    @apply border-blue text-blue opacity-100 transition-colors  dark:border-lightblue dark:text-lightblue;
  }

  .link,
  .notion-link {
    @apply hover:border-red hover:text-red;
  }

  .group-link {
    @apply group-hover:border-red group-hover:text-red;
  }

  .float-card {
    @apply overflow-hidden rounded-8 bg-white shadow dark:bg-dark-gray;
  }

  .answer-action {
    @apply text-dark-gray text-sub flex flex-col justify-center items-center rounded px-16 py-4 box-content border border-offwhite cursor-pointer bg-offwhite transition-colors;
    @apply hover:bg-lightgray hover:border-lightgray;
    @apply disabled:hover:bg-offwhite disabled:hover:border-offwhite disabled:opacity-50 disabled:cursor-not-allowed;
  }
}

@layer utilities {
  .visually-hidden {
    @apply absolute h-0 w-0 overflow-hidden;
  }
}
