@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --module: 56px;
}

@media (max-width: 768px) {
  :root {
    --module: 48px;
  }
}

@layer base {
  body {
    @apply bg-offwhite font-body text-black dark:bg-dark-black dark:text-white;
  }
}

@layer components {
  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .prose {
    @apply prose-p:my-[0.5em];
    @apply prose-li:my-[0.25em];
    @apply prose-ul:my-[0.5em];
    @apply prose-h2:mt-[1.5em];
    @apply text-black dark:text-white;
    --tw-prose-bullets: currentColor;
    max-width: 100%;
  }

  .label {
    @apply mb-8 w-full text-gray;
  }

  .link,
  .notion-link {
    @apply border-blue text-blue opacity-100 transition-colors hover:border-red hover:text-red dark:border-lightblue dark:text-lightblue;
  }

  .float-card {
    @apply overflow-hidden rounded-8 bg-white shadow dark:bg-dark-gray;
  }

  .secondary-action {
    @apply text-black text-opacity-50 transition-colors hover:text-opacity-75;
    @apply dark:text-white dark:text-opacity-50;
  }
}
