@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PT Root UI';
  src:
    url('assets/fonts/pt-root-ui_regular.woff2') format('woff2'),
    url('assets/fonts/pt-root-ui_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('assets/fonts/pt-root-ui_medium.woff2') format('woff2'),
    url('assets/fonts/pt-root-ui_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('assets/fonts/pt-root-ui_light.woff2') format('woff2'),
    url('assets/fonts/pt-root-ui_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('assets/fonts/pt-root-ui_bold.woff2') format('woff2'),
    url('assets/fonts/pt-root-ui_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --module: 52px;
}

@media (max-width: 768px) {
  :root {
    --module: 48px;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen bg-offwhite font-body text-black dark:bg-darkmode-layer1 dark:text-white;
  }
}

@layer components {
  .prose {
    @apply prose-p:my-[0.5em];
    @apply prose-li:my-[0.25em];
    @apply prose-ol:my-[0.5em];
    @apply prose-ul:my-[0.5em];
    @apply prose-h1:mt-[1em];
    @apply prose-h2:mt-[1.5em];
    @apply !text-[inherit];
    --tw-prose-bullets: inherit;
    --tw-prose-counters: inherit;
    max-width: 100%;
  }

  .prose * {
    @apply !text-[inherit];
  }

  .prose li > p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .label {
    @apply mb-8 w-full text-gray;
  }

  .link-bright {
    @apply border-blue text-blue opacity-100 transition-colors;
  }

  .link,
  .group-link {
    @apply link-bright;
    @apply dark:border-darkmode-blue dark:text-darkmode-blue dark:opacity-100;
  }

  .link {
    @apply hover:border-red hover:text-red;
    @apply dark:hover:border-darkmode-red dark:hover:text-darkmode-red;
  }

  .group-link {
    @apply group-hover:border-red group-hover:text-red;
    @apply dark:hover:border-darkmode-red dark:hover:text-darkmode-red;
  }

  .float-card,
  .v-popper--theme-dropdown .v-popper__inner.v-popper__inner {
    @apply overflow-hidden rounded-8 bg-white shadow dark:bg-darkmode-layer2;
  }

  .container-fluid {
    @apply mx-auto max-w-[720px] px-16;
  }

  .card {
    @apply rounded-16 bg-yellow p-16 text-black;
  }
}

@layer utilities {
  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .visually-hidden {
    @apply absolute h-0 w-0 overflow-hidden;
  }
}
